.itemImg {
    width: 250px;
    border-radius: 15px;
    border: 1px solid #4F684C;
}

.wishlistContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.wishlistElement {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #8A9A5B;
    margin: 20px;
    border: 2px solid #4F684C;
    border-radius: 25px;
    color: #F4ECE6;
    font-family: "Quicksand", serif;
    font-weight: bold;
}


.textContainer > a {
    color: #2A728F;
}

.itemBtn {
    font-family: "Quicksand", serif;
    font-weight: bold;
    color: #F4ECE6;
    background-color: #4F684C;
    border: 0;
    padding: 5px;
    margin: 5px;
    border-radius: 2px;
}

.addItemBtn {
    width: 150px;
    height: 50px;
    position: relative;
    right: 20px;
    background-color: transparent;
    color: #F4ECE6;
    font-family: "Quicksand", serif;
    font-weight: bolder;
    font-size: 40px;
    border: 0;
}

.homeBtn {
    border: 0;
    color: #F4ECE6;
    background-color: transparent;
    margin-right: 30px;
    font-weight: bolder;
    font-family: "Playfair Display", serif;
    font-size: large;
}

.addItemPopup {
    position: absolute;
    width: 500px;
    right: 30px;
    top: -10px;
}

.addItemPopup > form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #4F684C;
    padding: 20px;
    font-family: "Quicksand", serif;
    font-weight: bolder;
}
.addItemPopup > form > * {
    padding: 2px;
    border: 0;
}

.addItemPopup > form > input {
    border: 0;
    height: 20px;
    padding: 5px;
}

.formBtnContainer {
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.formBtn {
    font-family: "Playfair Display", serif;
    font-weight: bold;
    color:#F4ECE6;
    background-color: #8A9A5B;
    border: 0;
    padding: 5px;
    font-size: 18px;
    margin-top: 10px;
}

.topNav {
    color: #F4ECE6;
    display: flex;
    flex-direction: row;
    background-color: #2F2E33;
    padding: 10px;
    font-family: "Playfair Display", serif;
    align-items: center;
    position: sticky;
    top: 0;
    justify-content: space-between;
}

.topNav > h1 {
    margin-left: 20px;
}

.navLeft {
    display: flex;
    align-items: center;
}

.navRight {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}

body {
    background-color: #737275;
    margin: 0;
}
.dropBtn {
    margin-left: 20px;
    padding: 16px;
    border: none;
    font-family: "Quicksand", serif;
    font-weight: bold;
    background-color: #2F2E33;
    color: #F4ECE6;
    font-size: large;
}

.dropBtn:hover, .dropBtn:focus {
    background-color: #4F684C;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdownContent {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    min-width: 160px;
    background-color: #4F684C;
    padding: 10px;
}

.dropdownContent > div {
    padding: 10px;
    font-weight: bold;
    font-family: "Quicksand", serif;
}

.dropdown:hover .dropdownContent {
    display: block;
}

.searchBar {
    height: 36px;
    width: 200px;
    padding: 10px;
    background: #4F684C;
    color: #F4ECE6;
    font-family: "Quicksand", serif;
    margin-right: 0;
    margin-left: 30px;
    border: 0;
    box-sizing: border-box;
    vertical-align: middle;
}

.searchBar::placeholder {
    color: #F4ECE6;
    font-family: "Quicksand", serif;
}

.searchBtn {
    color: #F4ECE6;
    background-color: #4F684C;
    padding: 10px;
    margin-left: 0;
    border: 0; 
    height: 36px;
    vertical-align: middle;
}

.searchHeader {
    display: flex;
    color: #F4ECE6;
    font-size: larger;
    padding: 10px;
    font-family: "Quicksand", serif;
    margin-left: 20px;
}